.listForm {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    padding: 10px;
    margin-bottom: 10px;
  }
 }
 @media (max-width: 767px) {
  .listForm  {
    flex-direction: column;
  }
}